@import 'landing-page.scss';
@import 'login.scss';
@import 'navbar.scss';
@import 'searchbar.scss';
@import 'all-products.scss';

body {
  font-family: 'Lato', sans-serif;
  a {
    text-decoration: none;
    color: black;
  };
  a:hover {
    text-decoration: none;
    color: rgba(182, 46, 153, 0.3);
  };
  a:active {
    text-decoration: none;
    color:black;
  };
};