#allLoginSignupOptions{
  display: flex;
  flex-direction: column;
  #loginSignup {
    display: flex;
    flex-direction: column;
    align-self: center;
    form {
      display: flex;
      margin: 20vh 0 2vh 0vw;
      align-self: center;
    };
  };
  #OAuth {
    align-self: center;
    margin-left: -5vw;
  };
};