body {
    font-family: sans-serif;
    background-color: #909090
}

a {
    text-decoration: none;
    color: #fff
}

label {
    display: block;
}

nav {
    background-color: #343434
}

nav a {
    display: inline-block;
    margin: 1em;
    text-decoration: none
}

nav a:hover {
    background-color: #909090;
    color: #fff;
    border-radius: 15%;
    text-decoration: none;
    transition: 1s all ease-in-out;
}

form div {
    margin: 1em;
    display: inline-block;
}


/* navbar */

#navBarAll {
    display: flex;
    flex-direction: column
}

#navBar {
    display: flex;
    align-self: center
}

#navBarName {
    align-self: center
}

#alwaysShow {
    display: flex;
    flex-direction: column
}

#allCategories {
    display: flex;
}


/* all products view */

#allProducts {
    display: flex;
    flex-direction: column
}

#addProduct {
    display: flex;
    flex-direction: column
}

#addButton {
    width: 10%
}


/* single product view */

#singleProduct {
    display: flex;
    flex-direction: column
}

#editProductForm {
    display: flex;
    flex-direction: column
}