body {
    font-family: sans-serif;
    background-image: url('./images/concrete_seamless.png');
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: none
}

label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 1em;
    text-decoration: none;
    color: black
}

nav a:hover {
    background-color: #909090;
    color: #fff;
    border-radius: 15%;
    padding: 1em;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}

form div {
    margin: 1em;
    display: inline-block;
}


/* navbar */

#navBarAll {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 2
}

#navBar {
    display: flex;
    align-self: center
}

#navBarName {
    align-self: center;
    color: black;
    text-decoration: none;
}

#alwaysShow {
    display: flex;
    flex-direction: column
}

#allCategories {
    display: flex;
    align-content: center;
}

#categoriesInNav {
    display: flex;
    color: green
}


/* all products view */

#allProductsView {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10em;
}

#singleProduct {
    margin: 2em 2em 2em 0.5em;
    padding: 2em
}

input {
    min-width: 18em
}

textarea {
    min-width: 18em
}

#addProductForm {
    display: flex;
}

#allProducts {
    align-self: center
}

.titlePrice {
    display: flex;
    flex-direction: column
}

.quantityImg {
    display: flex;
    flex-direction: column
}

.desc {
    margin-bottom: 1em
}

.descSubmit {
    display: flex;
    flex-direction: column
}

#warningName {
    min-width: 10em
}

#search-bar {
    position: fixed;
    margin-left: 70%;
}

/* login / signup */

#allLoginSignupOptions {
    display: flex;
    flex-direction: column;
    padding-top: 15em
}

#loginSignup {
    display: flex;
    align-self: center
}

#OAuth {
    align-self: center;
    padding-right: 3em;
    background-image: url('./images/grey-google-signin.png')
}


/* single product view */

#product {
    display: flex;
    padding-top: 15em
}

#allButDesc {
    display: flex;
    flex-direction: column;
    padding-left: 5em
}

#description {
    padding: 15em 5em 0em 5em;
}

#editProduct {
    padding-left: 5em
}

#editProductForm {
    display: flex;
}

#cart {
  display: flex;
  padding-top: 10em
}

#shrink {
    max-width: 250px;
    max-height: 250px;
}
