body {
    font-family: sans-serif;
    background-image: url('./images/concrete_seamless.png');
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: none
}

label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 1em;
    text-decoration: none;
    color: black
}

nav a:hover {
    background-color: #909090;
    color: #fff;
    border-radius: 15%;
    text-decoration: none;
    transition: 1s all ease-in-out;
}

form div {
    margin: 1em;
    display: inline-block;
}


/* navbar */

#navBarAll {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 1
}

#navBar {
    display: flex;
    align-self: center
}

#navBarName {
    align-self: center;
    color: black;
    text-decoration: none;
}

#alwaysShow {
    display: flex;
    flex-direction: column
}

#allCategories {
    display: flex;
}


/* all products view */

#allProductsView {
    display: flex;
    /* justify-content: flex-start; */
    padding-top: 10em;
    position: relative
}

#singleProduct {
    margin: 2em 2em 2em 0.5em;
    flex-shrink: 2
}

#addProductFormPage {
    position: fixed
}

#addProductForm {
    display: flex;
    flex-direction: column;
}

#search-bar {
    position: fixed;
    margin-left: 70%;
}

/* #allProducts {
    display: flex;
    flex-direction: column
}

#addProduct {
    display: flex;
    flex-direction: column
}

#addButton {
    width: 10%
} */


/* single product view */


/* #singleProduct {
    display: flex;
    flex-direction: column
}

#editProductForm {
    display: flex;
    flex-direction: column
} */